<div class="d-flex flex-end space-between">
  <app-character-filters (changeFilters)="emitFilters($event)"></app-character-filters>
  <app-paginator (changePage)="changePage($event)" [totalElements]="characters?.data?.total"
                 [currentPage]="currentPage" style="margin-right: 10px"></app-paginator>
</div>
<div class="d-flex row">
  <div *ngFor="let character of characters?.data?.results" class="col-xl-2 col-lg-5-elements col-3 col-sm-4">
    <div class="card card-mouse-over">
      <img class="center" [src]="character.thumbnail.path + '.' + character.thumbnail.extension">
      <div class="text-center card-text-border-top">
        <p>{{character.name}}</p>
      </div>
    </div>
  </div>
</div>

